[Desktop Entry]
Name=Soplos AppImage Manager
Name[es]=Gestor de AppImage Soplos
Name[en]=Soplos AppImage Manager
Name[fr]=Gestionnaire AppImage Soplos
Name[de]=Soplos AppImage-Verwaltung
Name[pt]=Gestor de AppImage Soplos
Name[it]=Gestore AppImage Soplos
Name[ro]=Manager AppImage Soplos
Name[ru]=Менеджер AppImage Soplos
Comment=Manage and integrate AppImage applications
Comment[es]=Gestiona e integra aplicaciones AppImage
Comment[en]=Manage and integrate AppImage applications
Comment[fr]=Gérer et intégrer des applications AppImage
Comment[de]=AppImage-Anwendungen verwalten und integrieren
Comment[pt]=Gerir e integrar aplicações AppImage
Comment[it]=Gestisci e integra le applicazioni AppImage
Comment[ro]=Gestionați și integrați aplicații AppImage
Comment[ru]=Управление и интеграция приложений AppImage
Exec=soplos-appimage-manager
Icon=org.soplos.appimagemanager
Terminal=false
Type=Application
Categories=System;Utility;
StartupNotify=true
GenericName=AppImage Manager
GenericName[en]=AppImage Manager
GenericName[es]=Gestor de AppImages
GenericName[fr]=Gestionnaire d'AppImages
GenericName[de]=AppImage-Manager
GenericName[pt]=Gestor de AppImages
GenericName[it]=Gestore di AppImages
GenericName[ro]=Manager de AppImages
GenericName[ru]=Менеджер AppImage
Keywords=appimage;app;install;integration;
Keywords[en]=appimage;app;install;integration;
Keywords[es]=appimage;aplicación;instalar;integración;
Keywords[fr]=appimage;application;installer;intégration;
Keywords[de]=appimage;anwendung;installieren;integration;
Keywords[pt]=appimage;aplicação;instalar;integração;
Keywords[it]=appimage;applicazione;installare;integrazione;
Keywords[ro]=appimage;aplicație;instala;integrare;
Keywords[ru]=appimage;приложение;установка;интеграция;
